.posts {
    position: relative;
    background-color: var(--gray);
}

.posts .create-post-form {
    position: relative;
    width: 100%;
    height: 75px;
    padding: 16px;
    background-color: #fff;
    transition: .3s ease-out;
}

.posts .create-post-form .close {
    width: 35px;
    height: 0;
    display: grid;
    place-items: center;
    font-size: 20px;
    border-radius: 3px;
    transition: .3s ease-out;
}

.posts .create-post-form .create-post-textarea {
    width: 100%;
    height: 45px;
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 3px;
    color: var(--dark);
    resize: none;
    outline: none;
    transition: .3s ease-out;
}

.posts .create-post-form .create-post-btn {
    position: relative;
    width: 100%;
    height: 0;
    font-size: 16px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    visibility: hidden;
    transition: .3s ease-out;
}

.posts .create-post-form.active {
    position: fixed;
    width: 100%;
    height: calc(100% - 113px);
    margin-bottom: 0;
    overflow: auto;
    z-index: 10;
}

.posts .create-post-form.active .close {
    height: 35px;
    margin-bottom: 5px;
    border: 1px solid var(--gray);
}

.posts .create-post-form.active .create-post-textarea {
    width: 100%;
    height: calc(100% - 95px);
    font-size: 16px;
}

.posts .create-post-form.active .create-post-btn {
    height: 45px;
    visibility: visible;
}

/*************************************/

.posts .posts-container {
    position: relative;
    width: 100%;
    height: calc(100% - 75px);
}

.posts .posts-container .post {
    width: 100%;
    padding: 0 16px;
    margin-top: 2px;
    background-color: #fff;
    color: var(--dark);
}

.posts .posts-container .post .post-header {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.posts .posts-container .post .post-header .profile-pic {
	height: 40px;
	width: 40px;
	margin-left: 16px;
	border-radius: 50%;
	display: grid;
	place-items: center;
	font-size: 18px;
	color: #fff;
	background: var(--primary-color);
}

.posts .posts-container .post .post-header .user-info .username {
	font-size: 18px;
	font-weight: 500;
}

.posts .posts-container .post .post-header .user-info .post-date {
	font-size: 14px;
}

.posts .posts-container .post .post-content {
    word-break: break-all;
    margin-bottom: 16px;
}

.posts .posts-container .post .post-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--gray);
}

.posts .posts-container .post .post-footer .like-btn {
    width: 100%;
    height: 45px;
    font-size: 16px;
    color: var(--dark);
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.posts .posts-container .post .post-footer .comment-btn {
    width: 100%;
    height: 45px;
    font-size: 16px;
    color: var(--dark);
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.posts .posts-container .post .comments-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 113px);
    padding: 16px;
    margin-top: 57px;
    background-color: #fff;
    display: none;
}

.posts .posts-container .post .comments-container.active {
    display: block;
    overflow: auto;
}

.posts .posts-container .post .comments-container > .close {
    height: 35px;
    width: 35px;
    margin-bottom: 5px;
    font-size: 20px;
    border: 1px solid var(--gray);
    border-radius: 3px;
    display: grid;
    place-items: center;
}

.posts .posts-container .post .comments-container .comment {
    display: flex;
    background-color: #fff;
}

.posts .posts-container .post .comments-container .comment .profile-pic {
	height: 30px;
	width: 30px;
	margin-left: 16px;
	border-radius: 50%;
	display: grid;
	place-items: center;
	font-size: 16px;
	color: #fff;
	background: var(--primary-color);
}

.posts .posts-container .post .comments-container .comment .comment-info .comment-username {
	font-size: 18px;
	font-weight: 500;
}

.posts .posts-container .post .comments-container .comment .comment-info .comment-date {
	font-size: 14px;
}

.posts .posts-container .post .comments-container .comment .comment-info .comment-content {
    word-break: break-word;
    margin-bottom: 16px;
    width: 280px;
}

.posts .posts-container .post .comments-container .comment-box {
    position: sticky;
    bottom: -16px;
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.posts .posts-container .post .comments-container .comment-box textarea {
    width: 100%;
    height: 45px;
    padding: 8px;
    margin-left: 5px;
    border: 1px solid var(--gray);
    border-radius: 3px;
    font-size: 16px;
    color: var(--dark);
    resize: none;
    outline: none;
}

.posts .posts-container .post .comments-container .comment-box .post-comment-btn {
    position: relative;
    width: 90px;
    height: 45px;
    font-size: 16px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
}
